/* Hide the In[###] prompts */

div.prompt {
  font-size: 0px;
  width: 0px;
  height: 0px;
}

div.highlight {
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  background: #f7f7f7;
  line-height: 1.21429em;
}

div.highlight pre {
  background: #f7f7f7;
}

div.output_stderr {
  width: 100%;
}

div.output_subarea {
    max-width: 100%;
}
