/* Hide the In[###] prompts */

div.prompt {
  font-size: 0px;
  width: 0px;
  height: 0px;
}

div.highlight {
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  background: #f7f7f7;
  line-height: 1.21429em;
  overflow-y: scroll;
  max-height: 972px; /* 1080px * 0.9 */
}

div.jp-InputPrompt {
    display: none;
}

div.highlight pre {
  background: #f7f7f7;
}

div.output_stderr {
  width: 100%;
}

div.output_subarea {
    max-width: 100%;
}

div.text_cell_render {
    padding: 0.5em;
}

div.input {
    padding: 0.5em;
}

div.output_stdout {
    font-weight: bold;
}

.reveal sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    font-size: smaller;
}

.reveal blockquote {
    font-style: normal;
    border-style: solid;
    border-width: 0px 0px 0px 10px;
    border-color: lightgray;
    padding: 0px 0px 0px 28px;
    box-shadow: 0px 0px 0px;
}

.reveal section img {
    /* Size to be contained at 80% of slide size */
    width: 576px; /* 720px * 0.8 */
    height: 384px; /* 480px * 0.8 */
    object-fit: contain;
	/* center images */
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.reveal section iframe {
    /* Size to be contained at 90% of slide size */
    width: 1728px; /* 1920px * 0.9 */
    height: 972px; /* 1080px * 0.9 */
    object-fit: contain;
	/* center images */
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.reveal {
	font-size: 45px;
}

.rendered_html blockquote {
    margin: 20px auto; /* center */
}
