/* Hide the In[###] prompts */

div.prompt {
  font-size: 0px;
  width: 0px;
  height: 0px;
}

div.highlight {
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  background: #f7f7f7;
  line-height: 1.21429em;
}

div.highlight pre {
  background: #f7f7f7;
}

div.output_stderr {
  width: 100%;
}

div.output_subarea {
    max-width: 100%;
}

div.text_cell_render {
    padding: 0.5em;
}

div.input {
    padding: 0.5em;
}

div.output_stdout {
    font-weight: bold;
}

.reveal section img {
	max-width: 95%;
	max-height: 95%;
	/* center images */
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.reveal {
	font-size: 45px;
}

.rendered_html blockquote {
    margin: 20px auto; /* center */
}
